@charset "UTF-8";
@font-face {
  font-family: 'Cyberpunk';
  src: url("../fonts/Cyberpunk.ttf");
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%;
  -ms-overflow-style: scrollbar; }

body {
  height: 100vh; }
  body.scroll {
    overflow: hidden; }

.page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  margin: 0 auto; }

.page-content {
  flex: 1; }

html,
body {
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column; }

section.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  flex: 1 0 auto;
  z-index: 10; }
  @media screen and (max-width: 992px) {
    .container {
      width: 100%;
      max-width: 100%; } }

.footer {
  flex: 0 0 auto; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .page-wrapper {
    display: block;
    min-height: 100vh;
    flex-direction: column; } }

@-moz-document url-prefix() {
  .wrapper {
    height: auto; }
  html,
  body {
    height: auto; }
  input[type=number] {
    padding: 5px !important; } }

.flex {
  display: flex; }

.hidden {
  display: none; }

ul {
  padding: 0;
  list-style: none; }

button {
  cursor: pointer;
  border: 0;
  outline: none; }

a {
  display: inline-block;
  text-decoration: none; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #242424;
  background: #ffffff;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-x: hidden; }
  body.scroll {
    overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 42px;
  line-height: 42px;
  color: #242424; }

h2 {
  font-size: 42px;
  line-height: 46px;
  color: #242424; }

h3 {
  font-size: 20px;
  line-height: 32px;
  color: #242424; }

h4 {
  font-size: 18px;
  line-height: 28px;
  color: #242424; }

h5 {
  font-size: 16px;
  line-height: 25px;
  color: #242424; }

h6 {
  font-size: 14px;
  line-height: 23px;
  color: #242424; }

p {
  font-size: 18px;
  line-height: 24px; }

img {
  display: block; }

a {
  outline: none !important; }

section {
  position: relative;
  padding: 40px 0;
  z-index: 1; }

.icon {
  width: 20px;
  height: 20px; }

a,
input,
select,
textarea,
span {
  transition: all 150ms ease; }

.label {
  display: block;
  position: relative; }
  .label:before {
    position: absolute;
    content: '';
    box-shadow: 0px 3px 5px 0px rgba(0, 102, 255, 0.25);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 5px; }
  .label-textarea {
    display: block;
    position: relative;
    margin-bottom: 50px; }
    .label-textarea:before {
      position: absolute;
      content: '';
      box-shadow: 0px 3px 5px 0px rgba(0, 102, 255, 0.25);
      bottom: 7px;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: 5px; }
  .label-error {
    display: block;
    font-size: 12px;
    line-height: 13px;
    color: #f00;
    text-align: left;
    padding: 5px 0; }
  .label-radio {
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    padding-left: 44px;
    padding-right: 5px;
    position: relative; }
    .label-radio:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      border: 6px solid #8294AF;
      border-radius: 50%;
      background-color: #ffffff; }
  .label-checkbox {
    display: block;
    font-size: 13px;
    line-height: 19px;
    color: #242424;
    padding-left: 24px;
    padding-right: 5px;
    position: relative; }
    .label-checkbox:before, .label-checkbox:after {
      content: '';
      display: block;
      position: absolute; }
    .label-checkbox:before {
      top: 1px;
      left: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #242424;
      border-radius: 3px;
      background-color: #ffffff; }
    .label-checkbox:after {
      top: 3px;
      left: 5px;
      width: 6px;
      height: 10px;
      border: 2px solid #ffffff;
      border-top: none;
      border-left: none;
      opacity: 0;
      transform: rotate(45deg);
      transition: opacity 100ms ease; }
    .label-checkbox span {
      display: inline-block;
      padding-left: 5px;
      color: #ABABAB; }

/* input */
.input {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #8294AF;
  padding: 0 12px 16px;
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  border-bottom: 1px solid #D6E7FF;
  background-color: #ffffff;
  border-radius: 0;
  text-overflow: ellipsis; }
  .input::-webkit-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .input::-moz-placeholder {
    color: #8294AF;
    opacity: 1; }
  .input:-moz-placeholder {
    color: #8294AF;
    opacity: 1; }
  .input::-ms-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .input:-ms-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .input:focus, .input:active {
    border-color: #1165E3; }
  .input:invalid {
    box-shadow: none; }
  .input:-moz-submit-invalid {
    box-shadow: none; }
  .input:-moz-ui-invalid {
    box-shadow: none; }
  .input__min {
    font-size: 13px;
    line-height: 19px;
    height: 38px; }
  .input__counter {
    background-color: #D6E7FF;
    border-color: #D6E7FF; }
  .input-radio, .input-checkbox {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden; }
    .input-radio:checked + .label-radio:before, .input-checkbox:checked + .label-radio:before {
      border-color: #1165E3;
      background-color: transparent; }
    .input-radio:checked + .label-checkbox:before, .input-checkbox:checked + .label-checkbox:before {
      border-color: transparent;
      background-color: #F6F6F6; }
    .input-radio:checked + .label-checkbox:after, .input-checkbox:checked + .label-checkbox:after {
      opacity: 1; }
    .input-radio:disabled + .label-radio, .input-checkbox:disabled + .label-radio {
      color: #ABABAB; }
    .input-radio:disabled + .label-checkbox, .input-checkbox:disabled + .label-checkbox {
      color: #ABABAB; }
    .input-radio:disabled + .label-radio:before, .input-checkbox:disabled + .label-radio:before {
      background-color: #ABABAB;
      border-color: #ABABAB; }
    .input-radio:disabled + .label-checkbox:before, .input-checkbox:disabled + .label-checkbox:before {
      background-color: #ABABAB;
      border-color: #ABABAB; }

.textarea {
  resize: none;
  display: inline-block;
  color: #8294AF;
  width: 100%;
  height: 121px;
  font-size: 19px;
  line-height: 24px;
  padding: 12px 12px 16px;
  font-weight: 300;
  border: 0;
  outline: none;
  border-bottom: 1px solid #D6E7FF;
  background-color: #ffffff;
  border-radius: 0;
  text-overflow: ellipsis; }
  .textarea::-webkit-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .textarea::-moz-placeholder {
    color: #8294AF;
    opacity: 1; }
  .textarea:-moz-placeholder {
    color: #8294AF;
    opacity: 1; }
  .textarea::-ms-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .textarea:-ms-input-placeholder {
    color: #8294AF;
    opacity: 1; }
  .textarea:focus, .textarea:active {
    border-color: #1165E3; }
  .textarea:invalid {
    box-shadow: none; }
  .textarea:-moz-submit-invalid {
    box-shadow: none; }
  .textarea:-moz-ui-invalid {
    box-shadow: none; }
  .textarea__min {
    font-size: 13px;
    line-height: 19px;
    height: 38px; }

/* select */
.select {
  border: 0;
  width: 100%;
  outline: none;
  display: block;
  background-color: #F6F6F6;
  padding: 20px 30px 19px;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  border-radius: 5px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 18px;
  background-position: center right 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg id='ic-down' xmlns='http://www.w3.org/2000/svg' width='19.456' height='10.152' viewBox='0 0 19.456 10.152'%3E%3Cg id='Сгруппировать_1' data-name='Сгруппировать 1' transform='translate(0 0)'%3E%3Cpath id='Контур_8' data-name='Контур 8' d='M19.332,117.449a.423.423,0,0,0-.6,0l-9.006,9.007L.722,117.45a.423.423,0,0,0-.6.6l9.305,9.305a.425.425,0,0,0,.3.124.419.419,0,0,0,.3-.124l9.305-9.305A.423.423,0,0,0,19.332,117.449Z' transform='translate(0 -117.325)'/%3E%3C/g%3E%3C/svg%3E%0A"); }
  .select::-ms-expand {
    display: none; }
  .select__min {
    height: 35px;
    font-size: 13px;
    line-height: 19px; }
  .select[disabled] {
    color: #ABABAB;
    background-color: #D6E7FF; }

button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer; }

.btn {
  font-size: 18px;
  line-height: 24px;
  color: #000000; }

.btn-shadow {
  padding: 16px 30px 16px 31px;
  border-radius: 28px;
  background: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(17, 101, 227, 0.1); }

.btn-primary {
  border: 1px solid transparent;
  padding: 15px 30px;
  border-radius: 28px;
  background: #1165E3;
  color: #ffffff; }

.btn-secondary {
  border: 1px solid transparent;
  background: #1165E3;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px 19px;
  border-radius: 5px;
  width: 100%;
  max-width: 335px; }

.btn-line {
  background: transparent;
  color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 21px 20px 17px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  max-width: 335px; }

.line-shadow {
  border-top: 1px solid #D6E7FF;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 15px; }
  .line-shadow:before {
    position: absolute;
    content: '';
    box-shadow: 0px 3px 5px 0px rgba(0, 102, 255, 0.25);
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 5px; }

.track-form {
  display: flex;
  flex-direction: column; }
  .track-form .label-number {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
    padding: 11px 0 6px 30px;
    position: relative;
    border-bottom: 1px solid #D6E7FF; }
    .track-form .label-number:before {
      position: absolute;
      content: '';
      left: 10px;
      top: 17px;
      width: 24px;
      height: 24px;
      background: url("../images/general/search.svg") no-repeat; }
    .track-form .label-number:after {
      position: absolute;
      content: '';
      box-shadow: 0px 3px 5px 0px rgba(0, 102, 255, 0.25);
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      height: 5px; }
  .track-form .input {
    font-size: 18px;
    line-height: 24px;
    color: #8294AF;
    border: none;
    outline: none;
    padding: 0 20px 0 24px;
    font-weight: 300; }
  .track-form .btn-primary {
    font-size: 20px; }

.title-section {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 30px; }

.text-section {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #000000; }

.pagination ul {
  display: flex;
  flex-wrap: wrap; }

.pagination li {
  margin-right: 10px;
  display: none; }
  .pagination li:nth-of-type(-n+6) {
    display: block; }
  .pagination li:first-of-type {
    display: none; }
  .pagination li:last-of-type {
    display: block; }
  .pagination li:last-of-type a, .pagination li:first-of-type a {
    width: 70px; }

.pagination a {
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  background: #F6F6F6; }
  .pagination a.active {
    color: #ffffff;
    background: #1165E3; }
  .pagination a .icon {
    width: 40px;
    margin: 10px auto;
    display: block; }

@media screen and (min-width: 768px) {
  .pagination li {
    display: block; }
    .pagination li:last-of-type {
      display: block; } }

body {
  overflow: hidden; }

.hero-wrapper {
  background-size: cover !important;
  height: 100vh;
  overflow: hidden; }
  .hero-wrapper .glitch-img .glitch__item:nth-child(5) {
    background-color: transparent !important; }
  .hero-wrapper .glitch-img .yt-link {
    width: 76px;
    height: 47px;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
    top: 50%;
    margin-top: -27px;
    box-sizing: border-box; }
    .hero-wrapper .glitch-img .yt-link a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .hero-wrapper .glitch-img .yt-link .icon {
      fill: #ffffff; }
  .hero-wrapper .glitch-img .yt-link-red {
    right: -39px;
    border: 3px solid #FB2740;
    filter: drop-shadow(0px 0px 10px #FB2740); }
  .hero-wrapper .glitch-img .yt-link-yellow {
    left: -79px;
    border: 3px solid #FFE600;
    filter: drop-shadow(0px 0px 10px #FFE600); }
  .hero-wrapper .hero-subtitle {
    position: absolute;
    z-index: 10;
    width: 326px;
    height: 40px;
    bottom: 80px;
    left: 40px;
    background: #000000;
    border: 5px solid #0066FF;
    border-radius: 5px;
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .hero-wrapper .hero-image {
    position: absolute;
    z-index: 10;
    bottom: 40px;
    left: 20px;
    display: flex; }
    .hero-wrapper .hero-image img {
      margin-right: 48px; }
  .hero-wrapper .pilot-img {
    position: absolute;
    z-index: 8;
    bottom: 0;
    left: 0;
    width: 600px;
    height: 640px; }
    .hero-wrapper .pilot-img img {
      width: 100%;
      height: 100%; }
  .hero-wrapper .car-img {
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 280px; }

.hero-wrap__link {
  clip-path: polygon(0 1%, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
  background: #FF002E;
  box-shadow: 0px 0px 15px #FB2740;
  width: 200.57px;
  height: 45.73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-weight: 700; }

.hero-information {
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 158.5%;
  /* or 22px */
  text-align: center;
  color: #FFFFFF;
  width: 520px;
  padding: 6px 10px 5px;
  position: absolute;
  right: 103px;
  top: 30%; }
  .hero-information:before, .hero-information:after {
    position: absolute;
    content: '';
    width: 146px;
    height: 32px; }
  .hero-information:before {
    top: 0;
    left: 0;
    border-top: 1px solid #FF002E;
    border-left: 1px solid #FF002E; }
  .hero-information:after {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid #FF002E;
    border-right: 1px solid #FF002E; }
  .hero-information .information-yellow {
    color: #FFE600; }
  .hero-information .information-red {
    color: #FB2740; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  position: absolute;
  bottom: 309px;
  left: calc(100% - 132px);
  width: 50px;
  color: #ffffff; }

.swiper-pagination-current {
  font-size: 24px;
  color: #FFE600;
  font-weight: 700; }

.swiper-pagination-total {
  font-size: 14px;
  font-weight: 500; }

.swiper-button-next, .swiper-button-prev {
  width: 22px;
  cursor: pointer;
  height: 25px;
  top: 24px;
  position: absolute; }
  .swiper-button-next:before, .swiper-button-prev:before {
    position: absolute;
    content: '';
    width: 22px;
    height: 16px;
    top: 5px;
    left: -1px; }
  .swiper-button-next:after, .swiper-button-prev:after {
    display: none; }

.swiper-button-next {
  left: calc(100% - 160px); }
  .swiper-button-next:before {
    background: url("../images/svg/ico-arrow-left.svg") no-repeat; }

.swiper-button-prev {
  left: calc(100% - 90px); }
  .swiper-button-prev:before {
    background: url("../images/svg/ico-arrow-right.svg") no-repeat; }

.swiper-button-disabled {
  opacity: 0.2;
  cursor: default; }

.hero-social {
  z-index: 31;
  position: absolute;
  right: 330px;
  bottom: 50px; }
  .hero-social:before {
    position: absolute;
    content: '';
    background: url("../images/svg/line-social.svg") no-repeat;
    left: 0;
    top: 0;
    width: 396px;
    height: 49px; }
  .hero-social ul {
    display: flex;
    position: relative;
    z-index: 2; }
  .hero-social li {
    padding: 9px; }
  .hero-social a {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .hero-social img {
    width: 70px;
    height: 70px; }

@media screen and (max-width: 1440px) {
  .hero-wrapper .pilot-img {
    max-width: 600px;
    max-height: 640px;
    left: 30px; }
  .hero-wrapper .car-img {
    bottom: -25px;
    left: -200px; }
    .hero-wrapper .car-img img {
      max-width: 1000px; }
  .hero-wrapper .glitch-img {
    width: 923px;
    height: 200px;
    left: 70px;
    top: 30px; }
    .hero-wrapper .glitch-img:before {
      right: 164px;
      top: 78%; }
  .hero-wrapper .cybr-btn-yellow {
    top: 59px;
    width: 207px;
    background-size: contain;
    right: 30px;
    height: 54px; }
  .hero-wrapper .cybr__btn--wrap {
    right: 36px;
    bottom: 52px; }
  .hero-wrapper .hero-social {
    position: absolute;
    right: 304px;
    bottom: 38px; }
  .hero-wrapper .hero-image {
    bottom: 36px;
    left: 26px; }
    .hero-wrapper .hero-image img {
      margin-right: 16px; }
  .hero-wrapper .hero-subtitle {
    width: 334px;
    height: 43px;
    bottom: 70px;
    left: 36px; }
  .hero-wrapper .hero-information {
    width: 527px;
    right: 103px;
    top: 260px; }
  .hero-wrapper .slider {
    bottom: 167px;
    right: 0;
    width: 49%;
    height: 230px;
    margin: 50px 0 0; }
  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 177px;
    letter-spacing: -2px;
    left: calc(100% - 113px); }
  .swiper-button-prev {
    left: calc(100% - 67px); }
  .swiper-button-next {
    left: calc(100% - 150px); } }

@media screen and (max-width: 1350px) {
  .hero-wrapper .hero-image img:nth-child(1) {
    max-width: 200px; }
  .hero-wrapper .hero-image img:nth-child(2) {
    max-width: 170px; } }

@media screen and (max-width: 1200px) {
  .hero-wrapper .car-img img {
    max-width: 600px; }
  .hero-wrapper .hero-social {
    z-index: 50; }
  .hero-information {
    display: none; } }

@media screen and (max-width: 992px) {
  body {
    overflow: auto; }
  .hero-wrapper {
    height: 896px;
    position: relative; }
    .hero-wrapper .cybr-btn-yellow {
      top: 200px;
      position: absolute;
      transform: rotate(270deg);
      margin-right: -122px;
      right: 100%; }
    .hero-wrapper .glitch-img {
      left: 0;
      right: 0;
      height: 140px;
      width: 100%;
      overflow: hidden; }
      .hero-wrapper .glitch-img:after {
        position: absolute;
        content: '';
        left: -50%;
        top: 86px;
        width: 200%;
        height: 2px;
        z-index: -2;
        background: #FFE600; }
      .hero-wrapper .glitch-img .glitch__item {
        background-position: center; }
    .hero-wrapper .car-img {
      bottom: 0;
      top: 20%;
      right: 0;
      left: 0;
      margin: 0 0 0 auto; }
      .hero-wrapper .car-img img {
        max-width: 100%;
        transform: scale(-1, 1); }
    .hero-wrapper .pilot-img {
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 0 0 auto; }
      .hero-wrapper .pilot-img img {
        transform: scale(-1, 1); }
    .hero-wrapper .slider {
      width: 100%; }
    .hero-wrapper .swiper-button-next, .hero-wrapper .swiper-button-prev {
      z-index: 50; }
    .hero-wrapper .swiper-container {
      z-index: 11;
      width: 100%;
      max-width: 90%;
      right: 0;
      position: absolute; }
    .hero-wrapper .hero-image {
      bottom: 215px;
      transform: rotate(-90deg);
      left: -130px; }
      .hero-wrapper .hero-image img {
        margin-right: 20px; }
        .hero-wrapper .hero-image img:nth-child(1) {
          max-width: 140px; }
        .hero-wrapper .hero-image img:nth-child(2) {
          max-width: 110px; }
    .hero-wrapper .cybr__btn--wrap {
      right: 22px;
      bottom: 36px; }
    .hero-wrapper .hero-social {
      bottom: 38px;
      left: 30px; }
    .hero-wrapper .hero-subtitle {
      bottom: 45%;
      left: auto;
      right: 20px; }
  .hero-social:before {
    width: 121px; } }

@media screen and (max-width: 768px) {
  .hero-wrapper .glitch-img {
    height: 110px;
    top: 38px; }
    .hero-wrapper .glitch-img:before {
      right: 223px;
      top: 18px; }
    .hero-wrapper .glitch-img:after {
      top: 42px; }
    .hero-wrapper .glitch-img .glitch__item {
      height: 70px; }
  .hero-wrapper .pilot-img {
    top: 87px;
    right: -190px;
    max-width: 470px;
    max-height: 490px; }
  .hero-wrapper .car-img {
    top: 234px;
    left: -60px; }
    .hero-wrapper .car-img img {
      max-width: 840px; }
  .hero-wrapper .hero-subtitle {
    bottom: 372px;
    left: auto;
    right: 5px;
    border-width: 2px;
    width: 249px;
    height: 36px;
    font-size: 12px;
    line-height: 12px; }
  .hero-wrapper .slider {
    min-width: 410px;
    max-width: 410px;
    width: 90%;
    bottom: 150px; }
    .hero-wrapper .slider .swiper-slide {
      width: 330px;
      height: 210px;
      background-size: contain; }
    .hero-wrapper .slider .swiper-slide.swiper-slide-next {
      right: 125px;
      top: 0; }
    .hero-wrapper .slider .swiper-slide-active ~ .swiper-slide {
      transform: translate3d(100%, 0, 0) scale(0.8); }
    .hero-wrapper .slider img {
      width: 70%;
      height: 100%;
      object-fit: contain; }
  .hero-wrapper .swiper-container-horizontal > .swiper-pagination-bullets, .hero-wrapper .swiper-pagination-custom, .hero-wrapper .swiper-pagination-fraction {
    bottom: 6px;
    letter-spacing: -2px;
    left: calc(100% - 293px); }
  .hero-wrapper .swiper-button-prev, .hero-wrapper .swiper-button-next {
    top: 195px; }
  .hero-wrapper .swiper-button-prev {
    left: calc(100% - 248px); }
  .hero-wrapper .swiper-button-next {
    left: calc(100% - 330px); }
  .hero-wrapper .hero-social {
    bottom: 58px;
    left: 30px; }
  .hero-wrapper .cybr__btn--wrap {
    right: 22px;
    bottom: 55px; }
  .hero-wrapper .hero-image {
    bottom: 280px;
    left: -135px; }
    .hero-wrapper .hero-image img:nth-child(1) {
      max-width: 150px; }
    .hero-wrapper .hero-image img:nth-child(2) {
      max-width: 125px; } }

.slider {
  position: absolute;
  z-index: 30;
  bottom: 22%;
  right: 0;
  width: 40%;
  min-width: 705px;
  height: 360px;
  margin: 0px 0;
  user-select: none;
  touch-action: pan-y; }

.swiper-container {
  position: relative;
  overflow: hidden;
  max-height: 360px;
  max-width: 100%; }

.slider img {
  margin: 0;
  vertical-align: top; }

.slider .swiper-wrapper {
  min-width: 100%;
  transform: translate3d(0px, 0px, 0px) !important;
  transition: all 0.5s ease 0s; }

.slider .swiper-slide {
  width: 520px;
  transform: translate3d(0, 0, 0) scale(0.6);
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: all 1s;
  top: 0;
  height: 334px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/general/video-frame.png") no-repeat center center; }

.slider .swiper-slide.swiper-slide-active {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  z-index: 2;
  position: relative; }

.slider .swiper-slide.swiper-slide-next {
  opacity: 1;
  z-index: 2;
  right: 350px;
  top: -10px; }

.slider .swiper-slide-active ~ .swiper-slide {
  transform: translate3d(100%, 0, 0) scale(0.6); }

.cybr__btn--wrap {
  position: absolute;
  right: 60px;
  bottom: 60px;
  z-index: 41; }

.cybr-btn-shadow {
  filter: drop-shadow(0px 0px 15px rgba(251, 39, 64, 0.5)); }

.cybr-btn {
  --primary: #FF002E;
  --shadow-primary: hsl(var(--shadow-primary-hue), 100%, 40%);
  --primary-hue: 0;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 14px;
  --label-size: 9px;
  --shadow-secondary-hue: 0;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 5% 100%, 0 75%);
  --border: 2px;
  --shimmy-distance: 5;
  --clip-one: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
  --clip-two: polygon(0 78%, 100% 78%, 100% 100%, 95% 100%, 95% 90%, 85% 90%, 85% 100%, 8% 100%, 0 78%);
  --clip-three: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
  --clip-four: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-five: polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
  --clip-six: polygon(0 40%, 100% 40%, 100% 85%, 95% 85%, 95% 85%, 85% 85%, 85% 85%, 8% 85%, 0 70%);
  --clip-seven: polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
  font-family: 'Cyber', sans-serif;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 200px;
  height: 45px;
  line-height: 45px;
  transition: background 0.2s; }

.cybr-btn:hover {
  --primary: #FF002E; }

.cybr-btn:active {
  --primary: #FF002E; }

.cybr-btn-yellow {
  position: fixed;
  top: 140px;
  right: 50px;
  filter: drop-shadow(0px 0px 15px rgba(255, 230, 0, 0.5));
  --primary: transparent;
  background: url("../images/general/bg-yellow.svg") no-repeat center;
  --color: #FFE600;
  background-size: contain; }

.cybr-btn-yellow:hover {
  --primary: transparent; }

.cybr-btn-yellow:active {
  --primary: transparent; }

.cybr-btn:after,
.cybr-btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1; }

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0); }

.cybr-btn:after {
  background: var(--primary); }

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: black;
  font-size: var(--label-size); }

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none; }

.cybr-btn:hover .cybr-btn__glitch {
  display: block; }

.cybr-btn__glitch:before {
  content: '';
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1; }

@keyframes glitch {
  0% {
    clip-path: var(--clip-one); }
  2%, 8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0); }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0); }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0); }
  14%, 21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0); }
  35%, 45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%)); }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%)); }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0); }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0); }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0); }
  31%, 61%, 100% {
    clip-path: var(--clip-four); } }

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260; }

:root {
  --color-text: #fff;
  --color-bg: #000;
  --color-link: #f9d77e;
  --color-link-hover: #fff;
  --color-info: #efc453;
  --glitch-width: 100vw;
  --glitch-height: 100vh;
  --gap-horizontal: 10px;
  --gap-vertical: 5px;
  --time-anim: 4s;
  --delay-anim: 2s;
  --blend-mode-1: none;
  --blend-mode-2: none;
  --blend-mode-3: none;
  --blend-mode-4: none;
  --blend-mode-5: overlay;
  --blend-color-1: transparent;
  --blend-color-2: transparent;
  --blend-color-3: transparent;
  --blend-color-4: transparent;
  --blend-color-5: #FF002E; }

body {
  background-color: #1D1E22;
  margin: 0;
  padding: 0; }

.glitch {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden; }

.glitch__item {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute; }

.glitch-img {
  width: 1253px;
  height: 253px;
  top: 21px;
  margin: 0 auto;
  left: 0;
  position: absolute;
  z-index: 3; }
  .glitch-img:before {
    position: absolute;
    content: '';
    right: 280px;
    top: 85%;
    background: url("../images/general/bg-logo.svg") no-repeat center;
    width: 141px;
    height: 85px; }

.glitch-img img, .glitch__item:nth-child(n+2) {
  opacity: 0;
  animation-duration: var(--time-anim);
  animation-delay: var(--delay-anim);
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.glitch-img img, .glitch__item:nth-child(2) {
  background-color: var(--blend-color-2);
  background-blend-mode: var(--blend-mode-2);
  animation-name: glitch-anim-2; }

.glitch-img img, .glitch__item:nth-child(2) {
  background-color: var(--blend-color-3);
  background-blend-mode: var(--blend-mode-3);
  animation-name: glitch-anim-3; }

.glitch-img img, .glitch__item:nth-child(4) {
  background-color: var(--blend-color-4);
  background-blend-mode: var(--blend-mode-4);
  animation-name: glitch-anim-4; }

.glitch-img img, .glitch__item:nth-child(5) {
  background-color: var(--blend-color-5);
  background-blend-mode: var(--blend-mode-5);
  animation-name: glitch-anim-flash; }

@keyframes glitch-anim-flash {
  0%, 5% {
    opacity: 0.2;
    transform: translate3d(var(--glitch-horizontal), var(--glitch-height), 0); }
  5.5%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0); } }

.glitch__text {
  padding-top: 50px;
  position: relative; }

@keyframes glitch-anim-2 {
  0% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0);
    -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%); }
  2% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%); }
  4% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%); }
  6% {
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%); }
  8% {
    -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%); }
  10% {
    -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%); }
  12% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%); }
  14% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%); }
  16% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%); }
  18% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%); }
  21.9% {
    opacity: 1;
    transform: translate3d(var(--gap-horizontal), 0, 0); }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@keyframes glitch-anim-3 {
  0% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%); }
  3% {
    -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%); }
  5% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%); }
  7% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  9% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%); }
  11% {
    -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%); }
  13% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  15% {
    -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%); }
  17% {
    -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%); }
  19% {
    -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%); }
  20% {
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%); }
  21.9% {
    opacity: 1;
    transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0); }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

@keyframes glitch-anim-4 {
  0% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%); }
  1.5% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%); }
  2% {
    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%); }
  2.5% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%); }
  3% {
    -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%); }
  5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%); }
  5.5% {
    -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%); }
  7% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%); }
  8% {
    -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%); }
  9% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%); }
  10.5% {
    -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%); }
  11% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%); }
  13% {
    -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%); }
  14% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%); }
  14.5% {
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%); }
  15% {
    -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%); }
  16% {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%); }
  18% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%); }
  20% {
    -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%); }
  21.9% {
    opacity: 1;
    transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1); }
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0); } }

.swiper-slide-prev {
  opacity: 0 !important; }

.swiper-slide-next {
  transform: scale(0.7); }

@media screen and (min-width: 768px) {
  .btn-line {
    padding: 21px 20px 18px; }
  .btn-secondary {
    max-width: 290px; }
  .btn-line {
    max-width: 261px; }
  .title-section {
    font-size: 34px;
    line-height: 42px; }
  .hero-wrap {
    height: 100vh;
    min-height: 600px; }
    .hero-wrap .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
  .hero-buttons button {
    margin-bottom: 0;
    margin-right: 26px; }
    .hero-buttons button:last-of-type {
      margin-right: 0; }
  .track-wrapper .modal-group {
    display: flex;
    justify-content: space-between; }
  .track-wrapper .label-track {
    display: inline-block;
    margin-right: 20px; }
  .track-wrapper .btn-secondary {
    max-width: 112px; }
  .about-media {
    margin: 0 auto 30px; }
  .about-item {
    height: 148px; }
    .about-item img {
      max-height: 88px; }
  .service-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .service-item {
    width: calc(50% - 30px);
    margin: 0 15px 30px; }
    .service-item:nth-of-type(9) .service-item__des {
      height: 184px; }
  .service-item__des {
    padding: 20px 20px 40px; }
  .reviews-wrap {
    display: flex;
    flex-wrap: wrap; }
  .reviews-item {
    max-width: 335px;
    width: calc(50% - 30px);
    margin: 0 15px 30px; }
  .contact-form form {
    display: flex;
    flex-wrap: wrap; }
  .contact-form .label {
    width: calc(50% - 30px); }
    .contact-form .label:first-of-type {
      margin-right: 30px; }
  .contact-form .label-textarea {
    width: calc(100% - 30px); }
  .contact-form__title {
    width: 100%; } }

@media screen and (min-width: 1024px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; }
  .header .btn-primary {
    font-size: 18px;
    padding: 17px 21px; }
  .header-top {
    padding: 16px 0 18px;
    display: block;
    border-bottom: 1px solid #D6E7FF; }
    .header-top .container {
      display: flex;
      align-items: center;
      justify-content: space-between; }
  .header-top__phone {
    padding: 0 0 0 31px;
    position: relative;
    margin: 3px auto 0 100px; }
    .header-top__phone:before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-image: url("../images/general/telephone.svg");
      width: 21px;
      height: 21px; }
    .header-top__phone a {
      font-size: 18px;
      line-height: 18px;
      color: #000000; }
  .header-top__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ABABAB;
    margin-right: 29px;
    margin-top: 6px; }
  .header-top__social {
    display: flex;
    align-items: center; }
    .header-top__social ul {
      display: flex;
      margin-top: 4px; }
    .header-top__social li {
      margin-right: 31px;
      margin-bottom: 0; }
      .header-top__social li:last-of-type {
        margin-right: 0; }
    .header-top__social a {
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      color: #000000;
      display: flex;
      align-items: center; }
    .header-top__social img {
      max-height: 21px;
      margin-right: 11px; }
  .header-nav__btn {
    display: none; }
  .header-center {
    padding: 0; }
    .header-center .container {
      width: auto; }
  .header-center__nav {
    width: auto;
    margin: 0; }
    .header-center__nav ul {
      padding: 29px 0 30px; }
    .header-center__nav:before {
      display: none; }
  .header-center__form .label-number {
    max-width: 210px; }
  .header-center__form .label-number:before {
    left: 13px;
    top: 17px; }
  .header-center__form .input {
    padding: 0 20px 0 28px; }
  .hero-title {
    font-size: 80px;
    line-height: 106px; }
  .hero-subtitle {
    font-size: 24px;
    line-height: 32px; }
  .track-wrapper {
    padding: 150px 0 147px;
    background: #ffffff; }
  .track-wrap {
    display: flex; }
    .track-wrap .track-form {
      background: #F6F6F6;
      padding: 30px; }
  .track-media {
    display: block;
    max-width: calc(40% - 30px);
    margin-right: 30px; }
    .track-media img {
      width: 100%; }
  .about-wrap {
    display: flex; }
  .about-description {
    width: 50%; }
  .about-media {
    width: 50%;
    max-width: 690px; }
    .about-media img {
      object-fit: contain; }
  .about-item {
    margin: 0 15px 20px;
    width: calc(25% - 30px); }
    .about-item img {
      width: 80%; }
  .advantage-wrapper {
    padding: 0 0 150px; }
    .advantage-wrapper .container {
      padding-right: 0;
      padding-left: 0;
      max-width: 100%; }
  .advantage-item {
    display: flex;
    margin-bottom: 0; }
    .advantage-item:nth-of-type(2n) {
      flex-direction: row-reverse; }
    .advantage-item:nth-of-type(1) .advantage-item__des {
      background: #F6F6F6; }
    .advantage-item:nth-of-type(2) .advantage-item__des {
      background: #242424; }
    .advantage-item:nth-of-type(2) .title-section, .advantage-item:nth-of-type(2) .text-section {
      color: #ffffff; }
    .advantage-item:nth-of-type(3) .advantage-item__des {
      background: #ffffff; }
  .advantage-item__des {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0  15px; }
  .advantage-item__media {
    width: 50%;
    display: block; }
    .advantage-item__media img {
      width: 100%; }
  .service-wrapper {
    padding: 0 0 150px; }
  .service-item {
    width: calc(33.3% - 30px); }
  .start-wrap {
    display: flex; }
  .start-list {
    max-width: 428px; }
  .start-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(50% - 30px);
    margin-right: 30px; }
  .start-media {
    display: block;
    width: 50%; }
  .reviews-item {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 30px); }
  .reviews-item__media {
    min-width: 280px;
    min-height: 280px; }
  .contact-wrap {
    display: flex; }
  .contact-form {
    width: 50%; }
  .contact-media {
    width: calc(50% - 30px);
    margin-right: 30px;
    display: block; }
    .contact-media img {
      width: 100%; }
  .footer-top {
    display: flex;
    margin: 0 -15px; }
  .footer-item {
    width: calc(25% - 30px);
    margin: 0 15px; }
    .footer-item:last-of-type {
      display: block; }
  .footer-bottom {
    display: flex;
    justify-content: space-between; }
  .footer-bottom__item {
    width: 50%; }
    .footer-bottom__item:last-of-type {
      text-align: right; }
  .btn-shadow:hover {
    color: #1165E3;
    box-shadow: 0px 0px 15px 0px rgba(17, 101, 227, 0.2); }
  .btn-primary:hover {
    border-color: #1165E3;
    background: transparent;
    color: #1165E3; }
  .btn-secondary:hover {
    border-color: #1165E3;
    background: transparent;
    color: #1165E3; }
  .btn-line:hover {
    border-color: #1165E3;
    color: #1165E3; } }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1410px; }
  .header-center__logo {
    margin-right: 10px;
    margin-top: 5px; }
  .header-center__logo {
    margin-right: 10px;
    margin-top: 5px; }
  .header-center__nav {
    margin: 0 0 0 13px; }
    .header-center__nav ul {
      padding: 29px 15px 30px; }
      .header-center__nav ul li {
        margin-right: 30px; }
  .header-center__nav li {
    margin-right: 10px; }
  .header-center__form .label-number {
    margin-right: 20px;
    margin-bottom: 0; } }

@media screen and (min-width: 1340px) {
  .container {
    max-width: 1440px; }
  .header-center__form {
    display: flex; }
    .header-center__form form {
      display: flex; }
  .header-center__form .label-number {
    max-width: 270px; }
  .hero-wrap {
    padding: 71px 0 53px;
    min-height: 973px; }
  .hero-title {
    margin-bottom: 30px; }
  .hero-subtitle {
    max-width: 778px;
    margin-bottom: 57px; }
  .title-section {
    font-size: 54px;
    line-height: 60px; }
  .track-media {
    max-width: calc(45% - 30px); }
  .track-wrapper .track-form {
    box-sizing: border-box;
    padding: 98px 163px 98px 124px;
    width: 60%;
    max-width: 810px;
    height: 573px; }
  .track-wrapper .title-section {
    margin-bottom: 65px; }
  .track-wrapper .modal-group {
    margin-bottom: 29px; }
  .track-form__info {
    margin-top: 41px; }
  .about-wrapper {
    padding: 10px 0 133px; }
    .about-wrapper .title-section {
      margin-bottom: 63px; }
  .about-description {
    padding-right: 130px; }
  .about-media {
    margin: 0 auto 30px 15px; }
  .about-wrap {
    margin-bottom: 85px; }
  .advantage-wrapper {
    padding: 0 0 159px; }
  .advantage-item .title-section {
    max-width: 550px;
    margin: 2px 140px 28px auto;
    line-height: 70px; }
  .advantage-item .text-section {
    max-width: 570px;
    margin: 0 120px 0 auto; }
  .advantage-item .link-section {
    max-width: 570px;
    width: 100%;
    margin: 20px 120px 0 auto; }
  .advantage-item .btn-secondary {
    max-width: 275px; }
  .advantage-item:nth-of-type(2n) .title-section {
    max-width: 550px;
    margin: 2px auto 28px 120px;
    line-height: 70px; }
  .advantage-item:nth-of-type(2n) .text-section {
    max-width: 570px;
    margin: 0 auto 0 120px; }
  .advantage-item:nth-of-type(3) .title-section {
    margin: 76px 140px 28px auto; }
  .advantage-item:nth-of-type(3) .text-section {
    max-width: 560px;
    margin: 0 130px 40px auto; }
  .service-wrapper {
    padding: 0 0 57px; }
    .service-wrapper .title-section {
      margin-bottom: 64px; }
  .service-item {
    margin: 0 15px 62px; }
  .service-item__media {
    margin: 0 auto -60px;
    height: 120px;
    width: 120px; }
    .service-item__media img {
      height: 50px; }
  .service-item__des {
    height: 245px !important;
    padding: 20px 50px 60px; }
    .service-item__des:before {
      top: -70px;
      width: 140px;
      height: 140px; }
  .start-wrapper .title-section {
    margin-bottom: 80px; }
  .start-list {
    max-width: 450px; }
  .start-description li {
    margin: 0 0 30px 0; }
    .start-description li:before {
      font-size: 18px;
      line-height: 42px;
      left: -21px;
      margin: -21px 0 0 0;
      width: 42px;
      height: 42px; }
    .start-description li span {
      font-size: 18px;
      line-height: 24px;
      overflow: hidden;
      height: 80px;
      padding: 21px 56px 10px; }
      .start-description li span:before {
        left: -25px;
        margin-top: -25px;
        width: 50px;
        height: 50px; }
  .reviews-wrapper {
    padding: 158px 0 90px; }
    .reviews-wrapper .title-section {
      margin-bottom: 65px; }
    .reviews-wrapper .reviews-media-btn img {
      width: 70px; }
  .reviews-wrap {
    margin: 0 -15px; }
  .reviews-item {
    max-width: 100%; }
  .reviews-item__media {
    height: 450px; }
  .contact-wrapper {
    padding: 29px 0 150px; }
  .contact-media {
    width: calc(45% - 30px);
    max-width: 570px; }
  .contact-form {
    width: 60%;
    padding: 75px 0 10px 119px;
    box-sizing: border-box; }
    .contact-form .label {
      margin-bottom: 45px; }
    .contact-form .btn-secondary {
      max-width: 233px; }
  .footer-item form {
    margin-top: 43px; }
  .footer-bottom {
    padding: 6px 0 0; } }
