.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
  position: absolute;
  bottom: 309px;
  left: calc(100% - 132px);
  width: 50px;
  color: $white;
}
.swiper-pagination-current{
  font-size: 24px;
  color: #FFE600;
  font-weight: 700;
}
.swiper-pagination-total{
  font-size: 14px;
  font-weight: 500;
}
.swiper-button-next, .swiper-button-prev{
  outline: none;
  border: 0;
  width: 22px;
  cursor: pointer;
  height: 25px;
  top: 24px;
  position: absolute;
  &:before{
    position: absolute;
    content: '';
    width: 22px;
    height: 16px;
    top: 5px;
    left: -1px;
  }
  &:after{
    display: none;
  }
}
.swiper-button-next{
  left: calc(100% - 160px);
  &:before{
    background: url("../images/svg/ico-arrow-left.svg") no-repeat;

  }
}
.swiper-button-prev{
  left: calc(100% - 90px);
  &:before{
    background: url("../images/svg/ico-arrow-right.svg") no-repeat;

  }
}
.swiper-button-disabled{
  opacity: 0.2;
  cursor: default;
}
.slider {
  position: absolute;
  z-index: 30;
  bottom: 22%;
  right: 0;
  width: 40%;
  min-width: 705px;
  height: 360px;
  margin: 0px 0;
  user-select: none;
  touch-action: pan-y;
}
.swiper-container  {
  position: relative;
  overflow: hidden;
  max-height: 360px;
  max-width: 100%;
}
.slider img {
  margin: 0;
  vertical-align: top;
}
.slider .swiper-wrapper {
  min-width: 100%;
  transform: translate3d(0px, 0px, 0px) !important;
  transition: all 0.5s ease 0s;
}
.slider .swiper-slide {
  width: 520px;
  transform: translate3d(0, 0, 0) scale(.6);
  z-index: 1;
  position: absolute;
  opacity: 0;
  transition: all 1s;
  top: 0;
  height: 334px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../images/general/video-frame.png") no-repeat  center center;
}
.slider .swiper-slide.swiper-slide-active {
  transform: translate3d(0, 0, 0) scale(1);
  opacity: 1;
  z-index: 2;
  position: relative;
}
.slider .swiper-slide.swiper-slide-next {
  opacity: 1;
  z-index: 2;
  right: 350px;
  top: -10px;
  transform: translate3d(100%, 0, 0) scale(.6) !important;
}
.slider .swiper-slide-active ~ .swiper-slide {
  transform: translate3d(150%, 0, 0) scale(.6);
}


.swiper-slide-prev{
  opacity: 0 !important;
}
.swiper-slide-next{
  transform: scale(.7);
}